# 使用淘宝源，需要npm publish的，请在package.json添加publishConfig定义或把下面这条去掉，否则会发布到淘宝镜像上
registry=https://registry.npmmirror.com

# 指定node-sass下载源
sass_binary_site=https://registry.npmmirror.com/mirrors/node-sass/

# 指定phantomjs下载源
phantomjs_cdnurl=https://registry.npmmirror.com/mirrors/phantomjs/

# 指定electron下载源
electron_mirror=https://registry.npmmirror.com/mirrors/electron/

# puppeteer 配置
puppeteer_download_host=https://registry.npmmirror.com/mirrors
puppeteer_skip_chromium_download

# pnpm专有的选项 BEGIN
# https://pnpm.io/zh/npmrc
use-node-version=14.19.1
node-mirror:release=https://npmmirror.com/mirrors/node/
node-mirror:rc=https://npmmirror.com/mirrors/node-rc/
node-mirror:nightly=https://npmmirror.com/mirrors/node-nightly/
# pnpm专有的选项 END